.da-thumbs {
	list-style: none;
	width:auto;
	height:auto;
	position: relative;
	margin: 20px auto;
	padding: 0;
}
.da-thumbs li {
	float: left;
	margin: 5px;
	margin-bottom:15px;
	height:230px;
	background: #fff;
	padding: 8px;
	padding-bottom:0px !important;
	position: relative;
	box-shadow: 0px 0px 5px rgba(1,91,141,1);
	border-radius:5px;
}
.da-thumbs li a,
.da-thumbs li a img {
	display: block;
	position: relative;
	border:#F00 1px inset;
	border-radius:3px;
}
.da-thumbs li a {
	overflow: hidden;
}
.da-thumbs li a div {
	position: absolute;
	background: rgba(237,29,35,0.5) ;
	width: 100%;
	height: 100%;
}
.da-thumbs li a div span {
	display: block;
	padding: 10px 0;
	margin: 40px 20px 20px 20px;
	text-align:center;
	font-weight: normal;
	color: rgba(225,225,225,1);
	font-weight:bold;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	border-bottom: 1px solid rgba(255,255,255,0.7);
	box-shadow: 0 1px 0 rgba(0,0,0,0.1), 0 -10px 0 rgba(255,255,255,0.7);
	font-size:18px;
}
.da-thumbs li p {
	text-align:center;
	padding-top:20px;
	font-weight:bold;
	width:212px;
	font-size:20px;
	text-shadow: -2px 3px 6px #ccc;
}

.cd_cover p { width:272px !important; text-align:center; }
.cd_cover li { height: 190px !important; }